@import-normalize;

@font-face {
  font-family: "MoscowSans";
  src: url("shared/assets/fonts/MoscowSans-Light.woff2") format("woff2"),
    url("shared/assets/fonts/MoscowSans-Light.woff") format("woff"),
    url("shared/assets/fonts/MoscowSans-Light.otf") format("otf"),
    url("shared/assets/fonts/MoscowSans-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MoscowSans";
  src: url("shared/assets/fonts/MoscowSans-Regular.woff2") format("woff2"),
    url("shared/assets/fonts/MoscowSans-Regular.woff") format("woff"),
    url("shared/assets/fonts/MoscowSansRegular.otf") format("otf"),
    url("shared/assets/fonts/MoscowSansRegular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MoscowSans";
  src: url("shared/assets/fonts/MoscowSans-Medium.woff2") format("woff2"),
    url("shared/assets/fonts/MoscowSans-Medium.woff") format("woff"),
    url("shared/assets/fonts/MoscowSansMedium.otf") format("otf"),
    url("shared/assets/fonts/MoscowSansMedium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MoscowSans";
  src: url("shared/assets/fonts/MoscowSans-Bold.woff2") format("woff2"),
    url("shared/assets/fonts/MoscowSans-Bold.woff") format("woff"),
    url("shared/assets/fonts/MoscowSansBold.otf") format("otf"),
    url("shared/assets/fonts/MoscowSansBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MoscowSans";
  src: url("shared/assets/fonts/MoscowSansExtraBold.woff2") format("woff2"),
    url("shared/assets/fonts/MoscowSansExtraBold.woff") format("woff"),
    url("shared/assets/fonts/MoscowSansExtraBold.otf") format("otf"),
    url("shared/assets/fonts/MoscowSansExtraBold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.webgl {
  /* position: fixed;
    top: 0;
    left: 0;
    outline: none; */
  background-color: #000000;
}

.title {
  font-family: "MoscowSans", sans-serif;
}

.addLocations {
  position: absolute;
  left: 20px;
  top: 120px;
  z-index: 99999;
}

.addLocations_wrapper {
  /* background: rgba(9, 9, 9, .5); */
  background: rgba(105, 105, 105, 0.3);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addLocations_form {
  margin-top: 18px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

form input {
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 4px;
}

form button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* .city-label {
    pointer-events: none;
} */

.point {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  /* opacity: 0; */
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.point:hover {
  transform: scale(1.2);
}

.point.visible {
  opacity: 1;
}

.point.visible.show .text {
  opacity: 1;
}

.point.visible .label {
  opacity: 1;
  pointer-events: all;
}

.point .label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 2; */
  /* width: 18px;
    height: 18px; */
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  /* opacity: 0.4; */
  /* transition: transform 0.3s; */
  transition: opacity 0.3s;
  /* pointer-events: none; */
}

.point.visible .label:hover {
  transform: translate(-50%, -50%) scale(1.15);
}

.point .pulseTipon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 26px;
	height: 26px; */
  width: 12px;
  height: 12px;
  pointer-events: none;
}

.point .pulseTipon::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(255, 255, 255);
  border-radius: 100%;
  opacity: 0;
  pointer-events: none;

  animation: pulse 3s calc(3s / 3) linear infinite;
}

.point .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -130%);
  width: max-content;
  /* padding: 8px 10px; */
  padding: 8px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  background: #1a1a1a;
  color: #ffffff;
  /* opacity: 0;
    transition: opacity 0.3s; */
  pointer-events: none;
  z-index: 3;
}

.point .text .city_name {
  font-family: "MoscowSans", sans-serif;
  font-size: 12px;
  font-weight: 100;
}

.point .text .city_latitude,
.point .text .city_longitude {
  font-family: "MoscowSans", sans-serif;
  font-size: 10px;
  font-weight: 100;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0;
  }
}

.point.show .pulseTipon::before {
  -webkit-animation: none;
  animation: none;
}

.point.new-point .label,
.point.new-point .pulseTipon::before,
.point.new-point .text {
  background: #ff0000;
}
